@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Outfit:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(212, 45%, 89%);  
       
}


.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}


.img-container {
    width: 40vh;
    border-radius:16px;  
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
img {
    align-content: center;
    box-sizing: border-box;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 10px;
}


.content-container {
    box-sizing: border-box;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
    font-family: 'Outfit', sans-serif; 
       
}
h2 {
    font-size: 3vh;
}
p{
    color: hsl(220, 15%, 55%);
    font-size: 2.3vh;
}

@media screen and (max-width : 380px) {
    
    .img-container {
        width: 30vh;
        padding: 10px;
    }
    .content-container {
        width: 25vh;
        
    }
    h2{
        font-size: 0.9rem;
    }
    p {
        font-size: 0.6rem;
    }
    
} 



@media screen and (max-height : 665px) {
   
    .img-container {
        width: 30vh;
        padding: 3%;
    }
    .content-container {
        width: 30vh;
        
    }
    h2{
        font-size: 0.7rem;
    }
    p {
        font-size: 0.6rem;
    }
    
} 

